.description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 0px 0px 10px;
    grid-gap: 30px;
}

.description-text {
    padding-top: 6%;
	padding-left: calc(100% - 1150px / 2);

	grid-column-start: 1;
    grid-row-start: 1;
	
	h5 {
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		font-family: 'Gotham Pro', sans-serif;
	}
	p {
		margin-top: 60px;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		font-family: 'Gotham Pro', sans-serif;	
	}
}


.description-img img {	
    object-fit: cover;
    object-position: left top;
    width: 100%;
    justify-self: end;

    grid-column-start: 2;
}


@media (max-width: 1024px) {
	.description {
		display: block;
	}
	.description-img {
		width: 50%;
	    /* display: inline-block; */
	    height: 300px;
	    float: right;
	}

	.description img {
	    object-fit: cover;
	    // float: right;
	    height: inherit;
	    width: 100%;
	}
	
	.description-text {
		padding-top: 0;
	    
		padding-left: 10px;
		h5 {
			font-size: 1.3rem;
			font-weight: 500;
		}
		p {
			font-size: 1rem;
		}
	}
}
@media (max-width: 768px) {
	.description-img {
	    height: 250px;
	}
}
@media (max-width: 450px) {
	.description-img {
	    height: 200px;
	}
	.description-text {
		h5 {
			font-size: 1.2rem;
		}
	}
}
@media (max-width: 370px) {
	.description-img {
	    height: 160px;
	    width: 40%;
	}
}